<%- include('../../partials/header.ejs') %>

    <div>
        <div class="container">
            <div class="card my-2">
                <div class="card-body">
                    <h5>Create Post</h5>
                    <form action="/post/create-post" method="POST" enctype="multipart/form-data">

                        <div class="form-group">
                            <label for="title"><strong>Enter Post Title</strong></label>
                            <input type="text" name="title" id="title" placeholder="Enter Post Title" class="form-control <%= error.title?'is-invalid':'' %>">
                            <div class="invalid-feedback">
                                <%= error.title %>
                            </div>
                        </div>
                        <div class="form-group">
                            <label><strong>Select Category</strong></label><br>
                            <select name="category" id="category" class="p-2">
                                <option>--Select Category</option>
                                <% for(category of categories){ %>
                                    <option value="<%= category.name %>"><%= category.name %></option>
                                <% } %>  
                                
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="tiny-mce-post-body"><strong>Enter Post Description</strong></label>
                            <textarea name="body" id="tiny-mce-post-body" class="form-control <%= error.body?'is-invalid':'' %> " cols="30" rows="10">
                            </textarea>
                            <div class="invalid-feedback">
                                <%= error.body %>
                            </div>
                        </div>
                        <div class="input-group-mb-3">
                            <div class="input-group-prepend my-2">
                                <span class="input-group-text"><strong>Post Thumbnail</strong></span>
                            </div>
                            <div class="custom-file my-2">
                                <input type="file" name="post-thumbnail" class="custom-file-input" id="inputGroupFile">
                                <label for="inputGroupFile" class="custom-file-label"><strong>Choose File</strong></label>
                            </div>
                        </div>

                        <input type="submit" class="btn btn-primary" value="Create Post">

                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>
        <script src="https://cdn.tiny.cloud/1/upwt06bkd22wjvd85hwgqgio2i717lcqw64ao14miyke0lyv/tinymce/5/tinymce.min.js"></script>
        <script src="/scripts/tinymce.js"></script>

        <script>
            $('#inputGroupFile').on('change', function(e) {
                let filename = e.target.files[0].name
                $(this).next('.custom-file-label').html(filename)
            })
        </script>

        </body>

        </html>