<%- include('../../partials/header.ejs') %>

    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="profile pic" class="rounded-circle p-1 bg-primary" width="110">
                            <div class="mt-3">
                                <h4>
                                    <%= user.name %>
                                </h4>
                            </div>
                        </div>
                        <hr class="my-4">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Roll</h6>
                                <span class="text-secondary"><%= user.student_id %> </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Session</h6>
                                <span class="text-secondary"><%= user.session %> </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Email</h6>
                                <span class="text-secondary"><%= user.email %> </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">Department</h6>
                                <span class="text-secondary"><%= user.department_name %> </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                <h6 class="mb-0">University</h6>
                                <span class="text-secondary"><%= user.university_name %> </span>
                            </li>
                        </ul>
                        <a href="" class="btn btn-secondary m-2">Update Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row">
                    <% if(posts.length<=0){ %>
                        <p>There is no posts</p>
                        <% }else{ %>
                            <% for(post of posts){ %>
                                <div class="col-lg-6 coll-md-6 col-sm-12">
                                    <article class="post">
                                        <div class="article-v2">
                                            <figure class="article-thumb">
                                                <% if(post.thumbnail){ %>
                                                    <a href="">
                                                        <img src="<%= post.thumbnail %>" alt="blog image" height="280" width="350" />
                                                    </a>
                                                    <% } %>
                                            </figure>

                                            <div class="article-content-main">
                                                <div class="article-header">
                                                    <h2 class="entry-title">
                                                        <a href="#">
                                                            <%= post.title %>
                                                        </a>
                                                    </h2>
                                                    <div class="entry-meta">
                                                        <div class="entry-date">
                                                            <%= moment(post.createdAt) %>
                                                        </div>

                                                        <div class="entry-cat">
                                                            <a href="#">
                                                                <%= post.category %>
                                                            </a>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="article-content">
                                                    <p>
                                                        <%= truncate(post.body) %>
                                                    </p>

                                                </div>

                                                <div class="article-footer">

                                                    <div class="row justify-content-between">
                                                        <a href="/post/update-post/<%= post._id %>" class="btn btn-primary btn-sm">Update</a>
                                                        <a href="/post/delete-post/<%= post._id %>" class="btn btn-danger btn-sm">Delete</a>

                                                    </div>
                                                    <hr>
                                                    <div class="row justify-content-between">
                                                        <a href="" class="btn btn-success btn-sm">Likes ( <%= post.likes.length %> )</a>
                                                        <a href="" class="btn btn-danger btn-sm">Dislikes ( <%= post.dislikes.length %> )</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <% } %>
                                    <% } %>
                </div>

            </div>
        </div>

    </div>

    <%- include('../../partials/footer.ejs') %>

        </body>

        </html>