<!doctype html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="py-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="/">JUST Campus Magazine</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/google">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <!-- main content -->
    <div class="container">
        <div class="row">
            <div class="col-md-6 full-content">
                <h2 class="section-title no-border "><span>Latest</span> From Blog</h2>
                <div class="mb-3"></div>
                <hr>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <% if(posts.length<=0){ %>
                    <p>There Is No Post</p>
                    <% }else { %>
                        <div class="row">
                            <% for(let post of posts){ %>
                                <div class="col-md-6 col-xl-4">
                                    <article class="post">
                                        <div class="article-v2">
                                            <figure class="article-thumb">
                                                <% if(post.thumbnail){ %>
                                                    <a href="">
                                                        <img src="<%= post.thumbnail %>" alt="blog image" height="280" width="350" />
                                                    </a>
                                                    <% } %>
                                            </figure>

                                            <div class="article-content-main">
                                                <div class="article-header">
                                                    <h2 class="entry-title">
                                                        <a href="#">
                                                            <%= post.title %>
                                                        </a>
                                                    </h2>
                                                    <div class="entry-meta">
                                                        <div class="entry-date">
                                                            <%= moment(post.createdAt) %>
                                                        </div>

                                                        <div class="entry-cat">
                                                            <a href="#">
                                                                <%= post.category %>
                                                            </a>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="article-content">
                                                    <p>
                                                        <%= truncate(post.body) %>
                                                    </p>

                                                </div>

                                                <div class="article-footer">

                                                    <div class="row justify-content-between">
                                                        <a href="/post/post-details/<%= post._id %>" class="more-link">Read More</a>
                                                        <a href="#" style="pointer-events: none;">
                                                            <%= post.comments.length %><i class="pe-7s-comment"></i></a>
                                                    </div>
                                                    <hr>
                                                    <div class="row justify-content-between">
                                                        <a href="/post/post-details/<%= post._id %>" class="btn btn-success btn-sm" style="pointer-events: none;">Likes ( <%= post.likes.length %> )</a>
                                                        <a href="/post/post-details/<%= post._id %>" class="btn btn-danger btn-sm" style="pointer-events: none;">Dislikes ( <%= post.dislikes.length %> )</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>

                                <% } %>
                        </div>
                        <% } %>
            </div>
        </div>
    </div>



    <footer class="footer">
        <p class="lead pt-3">Copyright &copy;2021;<a href="http://"> NodeScript IT</a></p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>